*.pyc

# Eclipse files.
.*project

# PyCharm files
.idea/

codalab/static
codalab/config/generated

# Eclipse files.
.*project

# PyCharm files
.idea/

venv/

# 3rd-party
**/vendor/ace-editor
**/vendor/mathjax
MathJax-master
ace-builds-master

# Ignore dev database file
*.sqlite3
