*.pyc
.DS_Store

# Eclipse files
.*project
.settings

# PyCharm files
.idea/

# Local sqlite database
*.sqlite3

codalab/config/generated
codalab/apps/web/static/css/imports.css

codalab/apps/web/node_modules/
codalab/apps/web/static/dist
codalab/apps/web/static/bower_components
codalab/apps/web/package-lock.json

venv*/

# Selenium/geckodriver
geckodriver*

# For .dockerignore
.git/
