*.pyc
.DS_Store

# Eclipse files
.*project
.settings

# PyCharm files
.idea/

# Local sqlite database
*.sqlite3

codalab/static
codalab/config/generated
codalab/apps/web/static/css/imports.css

venv/

# Selenium/geckodriver
geckodriver.log
