Django==1.5.9

# Template library
django-analytical==0.15.0
django-compressor==1.3
django-js-reverse>=0.2.0

# For running ./manage config_gen
django-configurations==0.8
django-config-gen==1.0.8

# For running WSGI
uWSGI==2.0.11.2

selenium
