<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<body>
  <div style="height:50px;display:flex;justify-content:space-between;">
    <div style="width: 600px; border:1px solid black;display:flex;">
      <div>
        <a href="/" tabIndex=1 target="_self">
          <img src="../../static/img/codalab-logo.png" style="height:100%;" alt="Home">
        </a>
      </div>
      <div style="margin-top: 5px;width:100%;" id="cl-search-bar">
      </div>
    </div>
    <div style="width:400px; border:1px solid black;display:flex;flex-direction: row-reverse;align-items: center;">
      <div>
        Max Wang
      </div>
      <div>
        Home
      </div>

    </div>
  </div>
  <!--
  <div style="height:50px;border: 1px solid black;">
    <div style="width:750px;border: 1px solid black;height:100%; margin:auto; display:flex;">
      <div style="border: 1px solid black;">
        <a href="/" tabIndex=1 target="_self">
          <img src="../../static/img/codalab-logo.png" style="height:100%;" alt="Home">
        </a>
      </div>
      <div style="border: 1px solid black;width:100%;">
        <div style="margin-top: 5px;" id="cl-search-bar">
        </div>
      </div>
      <div style="width: 300px; margin-top:13px;display:flex;">
        <div style="margin-left: 13px;">
          Home
        </div>
        <div style="margin-left:13px";>
          Account
        </div>
      </div>
    </div>
  -->

    <!--
    <div class="col-xs-2">
    </div>
    <div class="col-xs-6">
        <a href="/" tabIndex=1 target="_self">
          <img src="../../static/img/codalab-logo.png" style="height:100%;" alt="Home">
        </a>
        <div style="width:50%; display:inline-block;">
        <span id="cl-search-bar"></span>
        </div>
    </div>
    <div class="col-xs-4" style="padding-top:15px;">
      <a href="public">Home</a>
    </div>
    -->
  </div>

</body>
<link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">

<script src="../../static/dist/search_bar.js"></script>
