{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "My Account" %}{% endblock %}
{% block page_title %}{% trans "My Account" %}{% endblock %}

{% block jsincludes %}
<script src="{{ STATIC_URL }}bower_components/underscore/underscore-min.js"></script>
<script src="{{ STATIC_URL }}bower_components/react/react.min.js"></script>
<script src="{{ STATIC_URL }}dist/worksheet_utils.js"></script>
<script src="{{ STATIC_URL }}dist/account_profile.js"></script>
{% endblock jsincludes %}

{% block content %}
<div id="account_profile_container"></div>
<div class="user-not-authenticated">
    Oops, you're not signed in yet. <a href="{% url 'account_login' %}?next={{request.path|urlencode:""}}" target="_self">Sign In</a>
</div>
{% endblock %}
