// Bundle Detail
#bundle-content {
   .bundle-header {
      display: flex;
      border-bottom:1px solid @gray-light;
      padding-bottom:6px;
      margin-bottom:12px;
      line-height:@line-height-base;
      h2 {
         margin:0;
         background-position-y:8px;
      }
      .bundle-name {
        flex: 1;
      }
      .bundle-links {
        .bundle-download {
          width: 52px;
          height: 45px;
          padding-top: 12px;
          margin-top: 10px;
        }
      }
   }
   .bundle-description {
      font-size:90%;
      margin:15px 0px 15px 0px;
   }
   .bundle-meta {
     margin-bottom: 30px;
     .editable {
       color: brown;
     }
     td {
       width: 50%;
       line-height: 2;
     }
   }
   h3 {
      margin-top:20px;
      .btn {
         margin-left:6px;
      }
   }
   table {
      .table;
      .table-bordered;
      .table-striped;
      margin-bottom:0;
   }
   .state-table {
      .table-responsive;
      margin-top:12px;
      code {
         font-size:80%;
         color:@gray-dark;
         background-color:transparent;
      }
   }
}
